Django==1.6.5
Pattern==2.6
Pillow==2.5.1
argparse==1.2.1
beautifulsoup4==4.3.2
decorator==3.4.0
django-zurb-foundation==5.3.0.1
-e git+https://github.com/djds23/element_gen.git@e57e5b4c5242849d65af44ae5244efc649c4a503#egg=element_gen-master
moviepy==0.2.1.8.05
numpy==1.8.1
py==1.4.20
pytest==2.5.2
pytube==0.1.16
tqdm==1.0
wsgiref==0.1.2
