{% extends "transcoder/base.html" %}

{% block main %}
{% load staticfiles %}
    <div class="row">
        <div class="large-8 columns">
            <div class="panel">
                <h2>Welcome to Intro to FFmpeg & Python</h2>
            </div>
        </div>
        <div class="large-4 columns">
            <img src="{% static 'transcoder/images/ffmpeg_logo.jpg' %}"
        </div>
    </div>
<hr />
    <div class="row">
        <p> this is a super long webpage devoted to chatting about video codecs.
        hopefully this serves as a demo for different video we can chat about this later.</p>
    </div>
<hr />
    <div class="row">
        <div class="large-12 columns">
            <h1>stuff</h1>
        </div>
    </div>
<hr />
        {% if error %}
        <div class="row">
            <div data-alert class="large-12 alert-box alert radius">
                <h3>Missing or Incomplete Information</h3>
                <a href="#" class="close">&times;</a>
            </div>
        </div>
        {% endif %}

    <form action="{% url 'transcoder.views.twitter_handler' %}" method="post">
    {% csrf_token %}
    <div class="row">
        <div class="large-12">
            <div class="row">
                <div class="small-3 columns">
                    <label for="right-label" class="right inline">Twitter Handle</label>
                </div>
                <div class="small-9 columns">
                    <input name="twitter_handle" type="text" id="right-label" placeholder="Enter a Twitter handle here!">
                </div>
            </div>
            <div class="row">
                <input class="button expand" type="submit" value="Make my slideshow!">
            </div>
        </div>
    </div>
    </form>
{% endblock %}
