{% extends "transcoder/base.html" %}

{% block main %}

        <div class="row">
            <div class="large-6 columns">
                <video poster="https://thumbs.gfycat.com/PoisedIncompatibleAxolotl-poster.jpg" style="width: 100%; height: auto;" loop="" autoplay="" class="gfyVid">
                    <source class="webmsource" type="video/webm" src="http://fat.gfycat.com/PoisedIncompatibleAxolotl.webm">
                    <source class="mp4source" type="video/mp4" src="http://zippy.gfycat.com/PoisedIncompatibleAxolotl.mp4">
                </video>
            </div>
        </div>

{% endblock %}