{% extends "transcoder/base.html" %}

{% block main %}
{% load staticfiles %}

        <div class="row">
            <div class="large-6 columns">
                <video poster="https://thumbs.gfycat.com/PoisedIncompatibleAxolotl-poster.jpg" style="width: 100%; height: auto;" loop="" autoplay="" class="gfyVid">
                    <source class="webmsource" type="video/webm" src="{%%}">
                    <source class="mp4source" type="video/mp4" src="{% static 'transcoder/static/dontusethiscode.mp4' %}">
                </video>
            </div>
        </div>

{% endblock %}